body{
  background-color: rgb(40, 40, 40);
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.main-content {
  background-color: rgb(30, 30, 30);
  display: flex;
  height: 660px;
  width: 98%;

  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;

  border-radius: 5px;
}