.header-flexbox {

  height: 70px;
  background-color: rgba(21, 153, 186, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);

}

.title-div{
  color: rgb(216, 216, 216);
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-picture {
  margin-top: 5px;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 5px;
}

.logo-div{
  width: 70px;
  margin-left: 20px;
}

.ecell-title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 26px;
  padding-left: 10px;

  background: linear-gradient(
    120deg,
    hsl(260 70% 70%),
    hsl(0 100% 80%)
  );
  background-clip: text;
  color: transparent;
}

.tabs-div{
  width: 600px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabs-elements {
  color: rgb(216, 216, 216);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  border-radius: 20px;

  display: flex;
  align-items: center;

  padding-left: 18px;
  padding-right: 18px;
  height: 40px;

  cursor: pointer;
  transition: background-color 0.25s;
}

.tabs-elements:hover {
  background-color: rgb(21, 153, 186, 0.3);
}

.tabs-elements:active {
  background-color: rgb(21, 153, 186, 0.5);
  border-color: rgb(21, 153, 186);
}

.login-div{
  padding-left: 20px;
  padding-right: 20px;
}